<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<nav class='nav navbar-nav navbar-left' >
        <h2>Nagano Cake</h2>
    	</nav>
    	<nav style="margin-top: 50px;">
    		<ul class="nav navbar-nav navbar-right">
    			<il><%= link_to '商品一覧',  admins_products_path, class: 'glyphicon glyphicon-link about' %></il>
    			<il>会員一覧</il>
    			<il><%= link_to '注文履歴一覧', admins_orders_path, class: 'glyphicon glyphicon-link about' %></il>
    			<il><%= link_to 'ジャンル一覧', admins_genres_path, class: 'glyphicon glyphicon-log-in sign_in' %></il>
					<il><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></il>
			</ul>
		</nav>
	</div>
</header>