<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-3">
    	<h3>管理者画面</h3>
    	<h2>本日の注文件数:<%= link_to ("#{@order.count}"), admins_orders_path, :style=>"color:black;" %></h2>
    </div>
  </div>
</div>
