<h1 class="about" style="margin-top: 100px; ">about</h1>
<h3 style="text-align: center;">
<h3 class="about">NaganoCakeは全国発送可能なケーキ屋さんです。<br>
お子様からお年寄りの方までお召し上がりいただけるよう、<br>
様々なバリエーションをご用意しております。<br>
また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
ぜひご注文ください。</h3>
<p class="img_center">
<%= image_tag'nagano.jpg',  size: '900x500' %>
</p>