
		<dix>
		<p>商品名</p>
		<p><%= @product.name %></p>
		</dix>
		<dix>
		<p>商品説明</p>
		<p><%= @product.explanatory %></p>
		</dix>
		<dix>
		<p>ジャンル</p>
		<p><%= @product.genre.name %></p>
		</dix>
		<dix>
		<p>税抜き価格</p>
		<p><%= @product.price %></p>
		</dix>