.about{
font-family: cursive;
text-align: center;
}
p.img_center{
  text-align: center;
}


.main-visual-text{
	text-align: center;
	margin-top: 80px;
}

.top {
  width:790px;
  height:250px;
  margin-top: 100px;
  background-image: url(top.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.recommendation {
  font-size: 25px;
  width: 20%;
  background: #585858;
  box-shadow: 0px 0px 0px 5px #151515;
  padding: 0.2em 0.5em;
  margin-left: 120px;
  color: #FFFFFF;
  text-align: center;
  font-family: cursive;
}


.step-box {
  float: left;
  margin-right: 20px;
  width: 200px;
  margin-left: 10px;
  margin-top: 40px;
  padding: 10px;
  position: relative;
  background-color: #eee;
}

.top-img {
  height: 150px;
  background-image: url(top.jpg);
  background-position: bottom;
  background-size: cover;
}

.top-img2 {
  height: 150px;
  background-image: url(_1203-3459.jpg);
  background-position: bottom;
  background-size: cover;
}

.top-img3 {
  height: 150px;
  background-image: url(fot0015-013.jpg);
  background-position: bottom;
  background-size: cover;
}

.top-img4 {
  height: 150px;
  background-image: url(makaron_img.jpg);
  background-position: bottom;
  background-size: cover;
}
.search-tag{
  color: black;
}
.product_form{
  margin: 30px;
}

.top_text {
  font-family: HiraMinPro-W6;
  font-size: 15px;
}

.backcround {
  background-color: #ffefd5;
  height: 100%;
}

